\:host
    position: relative
    display: inline-block
    height: 2.75rem
    min-width: 11.25rem
button
    font-size: 1.25rem
    font-weight: 400
    height: 100%
    width: 100%
md-progress-spinner
    position: absolute
    margin: 0 auto
    height: 100%
    width: 100%