<mh-progress [loading]="!loaded"></mh-progress>
<div class="container">
    <h1 class="admin-heading">Организаторы</h1>
    <button class="hobbies-add" routerLink='/admin/organizers/add' md-fab></button>
    <form>
        <md-input-container class="form-item">
            <input (keyup)="updateWord(word)" [(ngModel)]="word" name="word" mdInput placeholder="Поисковое слово">
        </md-input-container>
        <md-select (change)="search()" [(ngModel)]="city" name="city" class="form-item-cities" placeholder="Город" floatPlaceholder="never">
            <md-option *ngFor="let city of cities" [value]="city">{{ city.Name }}</md-option>
        </md-select>
    </form>

    <section>
        <div class="organizers">
            <div *ngFor="let organizer of organizers" class="organizer">
                <a [routerLink]="['/admin/organizers/edit', organizer.Id]">{{organizer.Name}}</a>
            </div>
            <mh-button *ngIf="checkLength > 98" [loading]="responding" (click)="concatPage()" color="primary">Показать ещё</mh-button>
        </div>
        <h2 class="no-results" *ngIf="loaded && organizers.length === 0">По вашему запросу ничего не найдено.</h2>
    </section>
</div>
