<h1 class="admin-heading container">Организаторы</h1>
<form class="container">
    <md-input-container class="form-item">
        <input (focusout)="setArgument(0, word)" [(ngModel)]="word" name="word" mdInput placeholder="Поисковое слово">
    </md-input-container>
    <md-select (change)="setArgument(1, city.Id)" [(ngModel)]="city" name="city" class="form-item-cities" placeholder="Город" floatPlaceholder="never">
        <md-option *ngFor="let city of cities" [value]="city">{{ city.Name }}</md-option>
    </md-select>
</form>

<section class="container">
    <div class="organizers">
        <div *ngFor="let organizer of organizers" class="organizer"> 
            <a (click)="saveOrganizerId(organizer.Id)"  routerLink='../organizers/edit'>{{organizer.Name}}</a>
        </div>
        <button *ngIf="reserveContent.length > 0 && organizers.length > 98" (click)="concatPage()" md-raised-button color="primary" class="button-show">Показать ещё</button>
    </div>
</section>
