form
    font-size: 20px
.form-item-cities
    width: 208px
[class^="form-item"]
    width: 208px
    margin: 0 70px 50px 0
.organizers
    width: 1600
.organizer
    display: inline-block
    font-size: 17px
    width: 50%
    min-width: 500px
    text-decoration: underline
    line-height: 50px
.button-show
    width: 176px
    height: 44px
    font-size: 20px
    font-weight: 400
    margin: 30px 0 30px 450px
