form
    font-size: 20px
    width: 800px
[class^="form-item"]
    width: 213px
    margin: 0 42px 38px 0
.button-save
    display: block
    width: 176px
    height: 44px
    font-size: 20px
    font-weight: 400
