form
	width: 800px
.form-item-cities
	width: 208px
[class^="form-item"]
	width: 208px
	margin: 0 42px 50px 0
.form-item-name
    width: 212,5px
.button-save
	display: block
	width: 176px
	height: 44px
	font-size: 20px
	font-weight: 400