<section class="search">
    <h1 class="admin-heading">Пользователи</h1>
    <md-input-container class="input">
        <input (ngModelChange)="onChange()" [(ngModel)]="word" mdInput placeholder="Поисковое слово">
    </md-input-container>
    <md-select (change)="search()" [(ngModel)]="cityId" class="input" placeholder="Город" floatPlaceholder="never">
        <md-option *ngFor="let city of cities" [value]="city.Id">{{ city.Name }}</md-option>
    </md-select>
    <md-checkbox [(ngModel)]="isAdmin" (ngModelChange)="search()" color="primary">Представители в городах</md-checkbox>
</section>

<section>
    <div class="users">
        <div class="user" *ngFor="let user of users">
            <a routerLink="edit" [queryParams]="{ email: user.Email }">{{user.Email}}</a>
        </div>
    </div>
    <h2 class="no-results" *ngIf="users?.length === 0">По вашему запросу ничего не найдено.</h2>
</section>
