<div class="container">
    <section class="info">
        <a [routerLink]="['/act', activity.Id]" class="button-back">&larr; Назад</a>
        <h1 class="heading">{{activity.Name}}</h1>
        <div class="main-wrapper"> 
            <div [ngStyle]="{'background-image': 'url(' +  mainPictureUrl + ')'}" class="main-picture"></div>
            <md-progress-spinner *ngIf="!loaded" color="accent" mode="indeterminate" class="image-spinner"></md-progress-spinner>
        </div>
        <ul class="info-list">
            <li>
                <h4 class="bold">Организатор:</h4>
                <p>{{activity.Organizer?.Name}}</p>
            </li>
            <li>
                <h4 class="bold">Телефоны:</h4>
                <p>{{activity.Phones}}</p>
            </li>
            <li>
                <h4 class="bold">Адрес:</h4>
                <p>{{activity.Address}}</p>
            </li>
            <li>
                <h4 class="bold">Цены:</h4>
                <p>{{activity.Prices}}</p>
            </li>
        </ul>
    </section>

    <form [formGroup]="reservation" (ngSubmit)="postReservation()">
        <md-input-container class="form-item">
            <input mdInput [formControl]="reservation.controls['name']" placeholder="Имя, Фамилия">
        </md-input-container>
        <md-input-container class="form-item">
            <input mdInput [formControl]="reservation.controls['phone']" placeholder="Сотовый телефон">
        </md-input-container>
        <md-input-container class="form-item">
            <input mdInput [formControl]="reservation.controls['email']" placeholder="Электронная почта" type="email">
        </md-input-container>
        <md-input-container class="form-item form-item-commentary">
            <input mdInput [formControl]="reservation.controls['comment']" placeholder="Пожелания, комментарии">
        </md-input-container>
        <div class="button-wrapper">
            <md-progress-spinner *ngIf="responding" color="accent" mode="indeterminate" class="button-spinner"></md-progress-spinner>
            <button [disabled]="!reservation.valid" type="submit" md-raised-button color="primary" class="button-enroll">ЗАПИСАТЬСЯ</button>
        </div>
        <p class="message-link">С вами свяжутся организаторы и зададут дополнительные вопросы, если нужно. </p>
    </form>
</div>
