.info
    width: 33.375rem
    display: inline-block
p
    line-height: 1.375rem
    font-size: 1.0625rem
    white-space: pre-line
.heading
    font-size: 2.1875rem
    margin-bottom: 21.25rem
.main-wrapper
    position: absolute
    top: 9.5rem
    z-index: -1
    width: 26.375rem
    height: 18.75rem
    .main-picture
        background-size: cover
        background-position: 50%
        width: 26.375rem
        height: 18.75rem
.bold
    font-weight: 900
    line-height: 2rem
    font-size: 1.0625rem
.info-list
    li
        margin-bottom: 2.375rem

form
    position: absolute
    display: inline-block
    margin-top: 8.4375rem
    font-size: 1.25rem
.form-item
    display: block
    width: 233.0.3125rem
    margin-bottom: 3.625rem
.form-item-commentary
    width: 48.75rem
mh-button
    margin-bottom: 0.625rem
.message-link
    font-size: 0.875rem
    color: #484848
