<header>
<ul class="main-nav container">
    <li><img routerLink='' src="img/logo.svg" alt="" class="main-nav__link-logo"></li>
    <li><a href="javascript:void(0);" class="main-nav__link">О проекте</a></li>
    <li><a href="javascript:void(0);" class="main-nav__link">Стать спонсором</a></li>
    <li><a href="javascript:void(0);" class="main-nav__link">Стать представителем</a></li>
    <li *ngIf="!userEmail"><a routerLink='/enter' class="main-nav__link-enter">Вход</a></li>
    <li *ngIf="userEmail"><a href="javascript:void(0);" class="main-nav__link-enter">{{userEmail}}</a></li>
</ul>
</header>
