.hobbies-flex
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.hobbies-form
	font-size: 20px
	margin: 0 0 40px
.hobbies-search
	width: 170px
.hobbies-age
	width: 120px
	margin: 0 3%
.hobbies-interests
	width: 208px
.hobbies-cities
	width: 208px
	margin: 0 3%
.hobbies-soberness
	margin-right: 3%
.hobbies-add
	float: right
	position: relative
	transition: 0.4s
	transform: scale(1.3)
	&:before
		content: ""
		display: block
		position: absolute
		top: 16px
		right: 26px
		width: 4px
		height: 26px
		background-color: white
	&:after
		content: ""
		display: block
		position: absolute
		top: 27px
		left: 15px
		width: 26px
		height: 4px
		background-color: white
	&:hover
		transform: scale(1.5)

.hobby-wrapper
	margin-bottom: 60px
	width: 476.82px
	height: 337.75px
	background-color: #eee
	position: relative
	cursor: pointer
	overflow: hidden
	&:before
		content: ''
		display: block
		position: absolute
		width: 100%
		top: -70px
		height: 70px
		background-color: rgba(0,0,0,0.36)
		opacity: 0
		transition: 0.4s
	&:after
		content: ''
		display: block
		position: absolute
		width: 100%
		bottom: -110px
		height: 110px
		background-color: rgba(0,0,0,0.36)
		opacity: 0
		transition: 0.4s
		
	&:hover:before
		opacity: 1
		top: 0
	&:hover:after
		opacity: 1
		bottom: 0
			
.hobby-image
	

.hobby-top-descr
	width: 100%
	color: white
	position: absolute
	z-index: 10
.hobby-age
	font-size: 26px
	float: left
	margin: 20px
	
.hobby-likes
	font-size: 26px
	float: right
	margin: 20px
	&:before
		content: ''
		display: block
		position: absolute
		left: 377px
		bottom: 24px
		width: 16px
		height: 16px
		background-image: url(img/thumbs-up.svg)
.hobby-bottom-descr
	color: white
	position: absolute
	bottom: 0
	padding: 10px 15px 30px 15px
	z-index: 10	
	width: 446.8px
.hobby-company
	font-size: 17px
	line-height: 22px
	margin-top: 5px
	width: 90%	
.hobby-name
	font-size: 25px
	line-height: 
	width: 90%
.hobby-free-icon
	position: absolute
	bottom: 38px
	right: 28px
	width: 26px
	height: 30px
