<h1 class="admin-heading">Курсы и хобби</h1>

<form>
    <md-input-container class="search">
        <input (ngModelChange)="onChange()" [(ngModel)]="word" name="word" mdInput placeholder="Поисковое слово">
    </md-input-container>

    <md-input-container class="age">
        <input (ngModelChange)="onChange()" [(ngModel)]="age" name="age" mdInput placeholder="Возраст" myOnlyNumber maxlength="3">
    </md-input-container>

    <md-select (change)="search()" [(ngModel)]="interest" name="interest" class="interests" placeholder="Интересы"
        floatPlaceholder="never">
        <md-option *ngFor="let interest of interests" [value]="interest">{{ interest.Name }}</md-option>
    </md-select>

    <md-select (change)="search()" [(ngModel)]="city" name="city" class="cities" placeholder="Город" floatPlaceholder="never">
        <md-option *ngFor="let city of cities" [value]="city">{{ city.Name }}</md-option>
    </md-select>

    <md-checkbox (click)="search(!IsSober)" [(ngModel)]="IsSober" name="sober" color="primary" class="soberness" mdTooltip="Преподаватели не пьют и не курят">Трезвость</md-checkbox>
    <md-checkbox (click)="search(null, !IsFree)" [(ngModel)]="IsFree" name="free" color="primary">Бесплатно</md-checkbox>
    <a class="btn-add" routerLink="addhobby" md-fab></a>
</form>

<h2 class="admin-heading">На проверку</h2>
<mh-activities [activities]="uncheckedActivities"></mh-activities>

<h2 class="admin-heading">Проверенные</h2>
<mh-activities [activities]="activities"></mh-activities>
