md-input-container
	width: 257px
	display: block
	margin-bottom: 44px
.button-back
	display: block
	margin: 47px 0 32px 0
	width: 86px
	font-size: 20px
	text-decoration: underline
	&:hover
		text-decoration: none
h2
	font-size: 35px
	margin-bottom: 40px
.button-send
	width: 257px
	height: 42px
	font-size: 20px
	font-weight: 400
	margin: 3px 0 16px 0
p
	width: 1000px
	font-size: 14px
