h2
	font-size: 35px
	margin-bottom: 23px
md-input-container
	width: 257px
	display: block
	margin-bottom: 44px
.button-back
	display: block
	margin: 37px 0 24px 0
	width: 86px
	font-size: 20px
	text-decoration: underline
	&:hover
		text-decoration: none
.button-send
	width: 257px
	height: 42px
	font-size: 20px
	font-weight: 400
	margin-bottom: 15px
p
	width: 950px
	font-size: 14px
