md-input-container
    width: 257px
    display: block
    margin-bottom: 44px
    font-size: 20px
h2
    font-size: 35px
    margin-bottom: 40px
.button-wrapper
    margin: 3px 0 16px 0
    width: 257px
    position: relative
    .button-spinner
        position: absolute
        top: 0
        right: -60px
        width: 42px
        height: 42px
    .button-send
        width: 257px
        height: 42px
        font-size: 20px
        font-weight: 400



p
    width: 1000px
    font-size: 14px
