.gallery
    width: 40.625rem
    height: 53.125rem
    .main-wrapper
        position: absolute
        top: 10.875rem
        right: 0
        bottom: 0
        left: 0
        z-index: -1
        overflow: hidden
        width: 40.625rem
        height: 28.75rem
        .main-picture
                width: 40.625rem
                height: 28.75rem
                background-size: cover
                background-position: 50% 50%
    .other-pictures
        position: relative
        top: 32.5rem
        [class^="wrapper"]
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            overflow: hidden
            width: 12.875rem
            height: 8.5625rem
            .other-picture
                width: 12.875rem
                height: 8.5625rem
                background-size: cover
                background-position: 50% 50%
        .wrapper-2
            left: 13.875rem
        .wrapper-3
            left: 27.75rem
.heading
    position: relative
    .voicing
        position: absolute
        right: 0
        top: 0.25rem
        [class^='thumb']
            width: 1.6875rem
            cursor: pointer
            display: inline-block
            position: relative
        .thumb-up
            top: 0.0313rem
        .thumb-down
            transform: rotate(180deg)
            top: 0.3125rem
        .amount
            min-width: 1.875rem
            margin: 0 0.1875rem
            text-align: center
            font-size: 1.625rem
            display: inline-block
        .voted
            font-size: 0.875rem
            color: red
            position: absolute
            width: 10rem
            right: -11rem
            top: 0.1875rem
    h1
        font-size: 2.1875rem
        width: 32.5rem


.info
    margin-top: 9.375rem
    width: 41rem
    position: absolute
    right: 0
    top: 0
    .bold
        font-weight: 900
        line-height: 2rem
        font-size: 1.0625rem
    p
        line-height: 1.375rem
        font-size: 1.0625rem
    mh-button
        margin-top: 0.9375rem
    .admin-buttons mh-button
        margin-right: 0.9375rem
        width: 12.5rem
.prices
    display: inline-block
    position: relative
    p
        display: inline-block
    .hobby-free-icon
        position: absolute
        top: -0.3125rem
        right: -2.1875rem
        width: 1.625rem
        height: 1.875rem
.info-list
    li
        margin-bottom: 1.875rem
        p
            display: block
            min-height: 1.375rem
.description
    width: 68.75rem
    margin: 5rem 0

.reviews
    width: 62.5rem
    margin-bottom: 5rem
    position: relative
    .reviews-heading
        font-size: 2.1875rem
        margin-bottom: 2.0625rem
    mh-button
        margin-left: 6.875rem
        height: 2.375rem
.reviews-item
    margin-bottom: 1.25rem
    height: auto
    min-height: 6.1875rem
    width: 62.5rem
    position: relative
    .user-image-wrapper
        position: absolute
        border-radius: 50%
        z-index: -1
        top: 0
        left: 0
        width: 5rem
        height: 5rem
        cursor: default
        overflow: hidden
        .user-image-preview
            background-size: cover
            background-position: 50% 50%
            width: 5rem
            height: 5rem
    p
        display: inline-block
    .name
        color: #000
        font-weight: 600
        margin: 0 1.125rem 0.9375rem 6.875rem
        font-size: 1.0625rem
    .date
        font-size: 0.8125rem
    .text
        margin-left: 6.875rem
        line-height: 1.375rem
        display: block
md-input-container
    width: 55.625rem
    margin: 4.375rem 0 0 6.875rem
    display: block


.publish-success
    color: #4CAF50
    font-size: 1.0625rem
    line-height: 2.125rem
    margin-left: 6.875rem
