<div class="container">
    <section class="gallery">
        <a [routerLink]="admin.isActive ? '/admin' : ''" class="my-button-back">&larr; Поиск</a>
        <div class="heading">
            <h1>{{activity.Name}}</h1>

            <div class="voicing" *ngIf="activity.IsChecked">
                <div (click)="votePositive()" class="thumb-up">
                    <img src="img/thumbs-up-black.svg" alt="">
                </div>
                <p class="amount">{{voteAmount}}</p>

                <div (click)="voteNegative()" class="thumb-down">
                    <img src="img/thumbs-up-black.svg" alt="">
                </div>
                <p *ngIf="voted" class="voted">Вы уже проголосовали за эту активность.</p>
            </div>
        </div>
        <div *ngIf="loaded" class="main-wrapper">
            <div [ngStyle]="{'background-image': 'url(' +  picUrls[0] + ')'}" class="main-picture"></div>
        </div>
        <div *ngIf="loaded" class="other-pictures">
            <div class="wrapper-1">
                <div [ngStyle]="{'background-image': 'url(' +  picUrls[1] + ')'}" class="other-picture"></div>
            </div>
            <div class="wrapper-2">
                <div [ngStyle]="{'background-image': 'url(' +  picUrls[2] + ')'}" class="other-picture"></div>
            </div>
            <div class="wrapper-3">
                <div [ngStyle]="{'background-image': 'url(' +  picUrls[3] + ')'}" class="other-picture"></div>
            </div>
        </div>
        <md-progress-spinner *ngIf="!loaded" color="accent" mode="indeterminate" class="image-spinner"></md-progress-spinner>
    </section>

    <section class="info">
        <ul class="info-list">
            <li>
                <h4 class="bold">Организатор:</h4>
                <p>{{activity.Organizer?.Name}}</p>
            </li>
            <li>
                <h4 class="bold">Возраст:</h4>
                <p>от {{activity.AgeFrom}} до {{activity.AgeTo}} лет</p>
            </li>
            <li>
                <h4 class="bold">Телефоны:</h4>
                <pre>{{activity.Phones}}</pre>
            </li>
            <li>
                <h4 class="bold">Адрес:</h4>
                <pre>{{activity.Address}}</pre>
            </li>
            <li>
                <h4 class="bold">Цены:</h4>
                <div class="prices">
                    <p>{{activity.Prices}}</p>
                    <img class="hobby-free-icon" src="img/free-withborder.svg" alt="" *ngIf="activity.Free">
                </div>

            </li>
            <li>
                <h4 class="bold">Трезвость:</h4>
                <p>{{activity.Organizer?.Sobriety ? "Преподаватели не пьют и не курят" : "Отсутствует"}}</p>
            </li>
            <li>
                <h4 class="bold">Ведущий:</h4>
                <pre>{{activity.Mentor}}</pre>
            </li>
        </ul>
        <a routerLink="/admin" routerLinkActive #admin="routerLinkActive"></a>
        <button *ngIf="!admin.isActive" [routerLink]="['/act/reservation', activityId]" md-raised-button color="accent" class="button-enroll">ЗАПИСАТЬСЯ</button>
        <div class="admin-buttons" *ngIf="admin.isActive">
            <button [routerLink]="['/admin/act/edit', activityId]" md-raised-button color="primary" class="button-enroll button-edit">РЕДАКТИРОВАТЬ</button>
            <div *ngIf="activity.IsChecked === false" class="button-approve-wrapper">
                <button (click)="actApprove()" md-raised-button color="accent" class="button-enroll button-approve">ПОДТВЕРДИТЬ</button>
                <md-progress-spinner *ngIf="approveResponding" color="accent" mode="indeterminate" class="button-spinner"></md-progress-spinner>
            </div>
        </div>
    </section>
    <pre class="description">{{activity.Description}}</pre>
    <section class="reviews" *ngIf="activity.IsChecked">
        <h2 class="reviews-heading">Отзывы</h2>
        <div class="reviews-item" *ngFor="let review of reviews">
            <div class="user-image-wrapper" [ngClass]="{'cover': fileData}">
                <div [ngStyle]="{'background-image': 'url(' +  review.User?.Picture?.Url + ')'}" class="user-image-preview"></div>
            </div>
            <p class="name">{{review.User?.Name}}</p>
            <p class="date">{{review.DateCreated | myDate}}</p>
            <pre class="text">{{review.Text}}</pre>
        </div>
        <md-input-container>
            <textarea mdInput [disabled]="published" placeholder="Ваш отзыв" [(ngModel)]="reviewText"></textarea>
        </md-input-container>
        <div class="button-wrapper">
            <button *ngIf="!published" [disabled]="!reviewText" (click)="publishReview()" md-raised-button color="primary" class="button-publish">Опубликовать</button>
            <md-progress-spinner *ngIf="responding" color="accent" mode="indeterminate" class="button-spinner"></md-progress-spinner>
        </div>
        <p *ngIf="published" class="publish-success">Готово! Ваш отзыв будет опубликован после проверки модераторами.</p>
    </section>
</div>
