<my-header></my-header>

<div class="container form">
    <a routerLink='' class="button-back">&larr; Назад</a>
    <h2>Редактирование личной информации</h2>
    <form>
        <md-input-container class="form-item-name">
            <input mdInput placeholder="Имя" value="{{user.Name}}" [(ngModel)]="userName" name="userName">
        </md-input-container>
        <md-input-container class="form-item-phone">
            <input mdInput placeholder="Номер телефона" value="{{user.Phone}}" [(ngModel)]="userPhone" name="userPhone">
        </md-input-container>
        <md-select class="form-item-cities" placeholder="Город" [(ngModel)]="selectedCity" name="city">
                <md-option *ngFor="let city of cities" [value]="city.Name">{{ city.Name }}</md-option>
        </md-select>
        <md-checkbox *ngIf="userRole === 'PortalAdmin'" [checked]="userRole === 'PortalAdmin'" color="primary" [(ngModel)]="userRole" name="role">Представитель в городе</md-checkbox>

        <div class="user-image">
            <div (click)="removeImage()" *ngIf="fileData" class="delete-image-button"></div>                
            <label class="user-input-design">
                <div class="user-image-wrapper" [ngClass]="{'cover': fileData}">
                    <img [src]="fileData ? fileData : 'img/fallback.jpg'" alt="" class="user-image-preview">
                </div>
                <input (change)="addImage($event, 1, false)" [disabled]="fileName" type="file" id="input" class="add-image-input" accept=".png,.jpg,.jpeg">
                <input type="hidden">
            </label>
        </div>

        <button (click)="putUser()" md-raised-button color="accent" class="button-save">СОХРАНИТЬ</button>
        
    </form>
</div>
