<form #f="ngForm" (ngSubmit)="submitForm()">
    <section class="left">
        <a routerLink="../" class="mh-back">&larr; Назад</a>
        <md-input-container class="course-name">
            <input mdInput placeholder="Название курса" [(ngModel)]="act.Name" name="Name" required>
        </md-input-container>

        <mh-upload [url]="pics[0]?.Url" (success)="addImage($event, 0)" (remove)="removeImage(0)"></mh-upload>
        <div class="images">
            <mh-upload [url]="pics[1]?.Url" (success)="addImage($event, 1)" (remove)="removeImage(1)"></mh-upload>
            <mh-upload [url]="pics[2]?.Url" (success)="addImage($event, 2)" (remove)="removeImage(2)"></mh-upload>
            <mh-upload [url]="pics[3]?.Url" (success)="addImage($event, 3)" (remove)="removeImage(3)"></mh-upload>
        </div>
    </section>

    <section class='right'>
        <md-input-container class="input organizer required">
            <input (ngModelChange)="filterOrganizers($event)" id="organizerInput" (focus)="filterOrganizers(organizer.Name)" mdInput
                placeholder="Организатор" [mdAutocomplete]="org" [(ngModel)]="organizer.Name" name="organizerName">
        </md-input-container>
        <md-autocomplete #org="mdAutocomplete">
            <md-option (click)="setOrganizer(organizer.Id)" *ngFor="let organizer of organizers" [value]="organizer.Name">
                {{organizer.Name}}
            </md-option>
        </md-autocomplete>
        <md-select class="input cities" placeholder="Город" [mdTooltip]="isOrganizerChosen ? 'Организатор уже выбран' : ''" [(ngModel)]="organizer.CityId"
            name="cityId" [disabled]="isOrganizerChosen" floatPlaceholder="never" required>
            <md-option *ngFor="let city of cities" [value]="city.Id">{{ city.Name }}</md-option>
        </md-select>
        <md-input-container class="input age-from">
            <input mdInput placeholder="Возраст От" myOnlyNumber maxlength="3" [(ngModel)]="act.AgeFrom" name="AgeFrom" required>
        </md-input-container>
        <md-input-container class="input age-to">
            <input mdInput placeholder="До" myOnlyNumber maxlength="3" [(ngModel)]="act.AgeTo" name="AgeTo" required>
        </md-input-container>
        <md-select class="input interests" placeholder="Интересы" required
            [(ngModel)]="act.InterestId" name="InterestId" floatPlaceholder="never">
            <md-option *ngFor="let interest of interests" [value]="interest.Id">{{ interest.Name }}</md-option>
        </md-select>
        <md-input-container class="input">
            <textarea mdInput rows="3" placeholder="Телефоны" [(ngModel)]="act.Phones" name="Phones" required></textarea>
        </md-input-container>
        <md-input-container class="input">
            <textarea mdInput rows="3" placeholder="Адрес" [(ngModel)]="act.Address" name="Address" required></textarea>
        </md-input-container>
        <md-input-container class="input">
            <textarea mdInput rows="3" placeholder="Цены" [(ngModel)]="act.Prices" name="Prices" required></textarea>
        </md-input-container>
        <md-checkbox color="primary" [(ngModel)]="act.Free" name="Free">Бесплатно</md-checkbox>
    </section>

    <section class='bottom'>
        <md-input-container class="input">
            <textarea mdInput rows="10" placeholder="Подробное описание" [(ngModel)]="act.Description" name="Description" required></textarea>
        </md-input-container>
        <md-input-container class="input">
            <textarea mdInput rows="3" placeholder="Ведущие" [(ngModel)]="act.Mentor" name="Mentor" required></textarea>
        </md-input-container>
        <md-checkbox color="primary" [(ngModel)]="organizer.Sobriety" [disabled]="isOrganizerChosen"
            name="sobriety" [mdTooltip]="isOrganizerChosen ? 'Организатор уже выбран' : ''">Преподаватели не пьют и не курят</md-checkbox>
        <mh-button [disabled]="f.invalid || pics[0]?.Url" [loading]="responding === 'saving'">СОХРАНИТЬ</mh-button>
    </section>
</form>

<mh-button (click)="remove()" [loading]="responding === 'deleting'" class="btn-delete" color="warn">УДАЛИТЬ</mh-button>