form
    font-size: 20px
    width: 1000px
h2
    font-size: 35px
    margin-bottom: 40px
[class^="form-item"]
    width: 213px
    margin: 0 42px 38px 0
.form-item-cities,.form-item-name
    width: 340px
.inputs
    width: 750px
    display: inline-block
.user-image
    display: inline-block
    position: relative
    .add-image-input
        display: none
    .delete-image-button
        position: absolute
        right: 0
        z-index: 20
        cursor: pointer
        width: 17px
        height: 17px
        background-color: #795548
        border-radius: 50%
        &:before
            content: ""
            display: block
            position: absolute
            top: 4px
            right: 8px
            width: 1px
            height: 9px
            background-color: white
            transition: 0.4s
            transform: rotate(135deg)
        &:after
            content: ""
            display: block
            position: absolute
            top: 8px
            right: 4px
            width: 9px
            height: 1px
            background-color: white
            transition: 0.4s
            transform: rotate(-45deg)        
        &:hover:before
            transform: rotate(135deg) scale(1.2)
        &:hover:after
            transform: rotate(-45deg) scale(1.2)
    .user-input-design
        display: block
        cursor: pointer
        position: relative
        box-sizing: border-box
        width: 120px
        height: 120px
        border-radius: 50%
        border: solid 1px #795548
        transition: 0.4s
        &:before
            content: ""
            display: block
            position: absolute
            top: 53px
            right: 60px
            width: 1px
            height: 13px
            background-color: #795548
            transition: 0.4s
        &:after
            content: ""
            display: block
            position: absolute
            top: 59px
            right: 54px
            width: 13px
            height: 1px
            background-color: #795548
            transition: 0.4s
        &:hover
            background-color: rgba(#795548, .15)
        &:hover:before
            transform: scale(1.2)
        &:hover:after
            transform: scale(1.2)
        .user-image-wrapper
            position: absolute
            border-radius: 50%
            z-index: -1
            top: -1px
            left: -1px
            width: 120px
            height: 120px
            cursor: default
            overflow: hidden
            .user-image-preview
                background-size: cover
                background-position: 50% 50%
                width: 120px
                height: 120px
        .cover
            z-index: 15

mh-button
    margin-top: 20px
