<a (click)="back()" class="mh-back">&larr; Назад</a>
<h2>{{adminPage ? 'Редактирование пользователя' : 'Редактирование личной информации'}}</h2>
<div class="wrapper">
    <md-input-container class="input"> 
        <input [(ngModel)]="user.Name" mdInput placeholder="Имя">
    </md-input-container>
    <md-input-container class="input">
        <input [(ngModel)]="user.Phone" mdInput placeholder="Номер телефона">
    </md-input-container>
    <md-select [(ngModel)]="user.CityId" class="input" placeholder="Город" floatPlaceholder="never">
            <md-option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</md-option>
    </md-select>
    <md-input-container class="input">
        <input mdInput [(ngModel)]="user.Email" #em="ngModel" type="email" email="true" placeholder="Электропочта" required>
    </md-input-container>
    <md-checkbox [(ngModel)]="roleValue" *ngIf="isAdmin(user) || adminPage">Представитель в городе</md-checkbox>
    <mh-button (click)="save()" [disabled]="em.invalid" [loading]="responding">СОХРАНИТЬ</mh-button>
    <mh-upload #upload *ngIf="!adminPage" [url]="pic.Url" 
        (success)="createTempfile($event)" (remove)="removePicture()"></mh-upload>
</div>
