<h1 class="admin-heading">{{addPage ? 'Добавление' : 'Редактирование'}} организатора</h1>
<form #f="ngForm" (ngSubmit)="post()">
    <md-input-container class="input name">
        <input mdInput [(ngModel)]="organizer.Name" name="name" placeholder="Название">
    </md-input-container>
    <md-input-container class="input">
        <input mdInput [(ngModel)]="organizer.Email" name="email" placeholder="Email" required>
    </md-input-container>
    <md-input-container class="input">
        <input mdInput [(ngModel)]="organizer.Phone" name="phone" placeholder="Телефон" required>
    </md-input-container>
    <md-select [(ngModel)]="organizer.CityId" name="cityId" class="input" placeholder="Город" floatPlaceholder="never">
        <md-option *ngFor="let city of cities" [value]="city.Id">{{ city.Name }}</md-option>
    </md-select>
    <md-checkbox [(ngModel)]="organizer.Sobriety" name="sobriety" color="primary">Трезвость</md-checkbox>
    <mh-button [disabled]="f.invalid" [loading]="responding === 'put'">{{url === "/admin/organizers/add" ? 'ДОБАВИТЬ' : 'СОХРАНИТЬ'}}</mh-button>
</form>
<mh-button *ngIf="!addPage" (click)="remove()" [loading]="responding === 'delete'" color="warn" class="btn-delete">УДАЛИТЬ</mh-button>
