.info
    width: 534px
    display: inline-block
.button-back
    display: inline-block
    margin: 44px 0 33px 0
    width: 86px
    font-size: 20px
    text-decoration: underline
    &:hover
        text-decoration: none
p
    line-height: 22px
    font-size: 17px

.heading
    font-size: 35px
    margin-bottom: 340px
.main-wrapper
    position: absolute
    top: 152px
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    overflow: hidden
    width: 422px
    height: 300px
    .main-picture
        position: absolute
        top: 50%
        left: 50%

        width: auto
        height: auto
        max-height: 600px
        max-width: 600px

        min-height: 100%
        min-width: 100%

        transform: translate(-50%, -50%)
.bold
    font-weight: 900
    line-height: 32px
    font-size: 17px
.info-list
    li
        margin-bottom: 30px

form
    position: absolute
    display: inline-block
    margin-top: 135px
    font-size: 20px
.form-item
    display: block
    width: 233.5px
    margin-bottom: 58px
.form-item-commentary
    width: 780px
.button-enroll
    width: 176px
    height: 44px
    font-size: 20px
    font-weight: 400
    margin-bottom: 10px
.message-link
    font-size: 14px
    color: #484848
