<my-header></my-header>
<div class="container">
	<section class="info">
		<a routerLink='/details' class="button-back">&larr; Назад</a>
		<h1 class="heading">Курсы кулинарного искусства</h1>
		<ul class="info-list">
			<li>
				<h4 class="bold">Организатор:</h4>
				<p>ООО «Go Vegan», Череповец</p>
			</li>
			<li>
				<h4 class="bold">Возраст:</h4>
				<p>от 5 до 55 лет</p>
			</li>
			<li>
				<h4 class="bold">Телефоны:</h4>
				<p>
					РЦ «ИЗУМРУД» — +7-909-999-9999<br>
					РЦ «КИНОМИР» — +75335663366<br>
					РЦ «Шторм» — 553366
				</p>
			</li>
			<li>
				<h4 class="bold">Адрес:</h4>
				<p>
					РЦ «ИЗУМРУД» ул. Раахе, 4 - кафе<br>
					РЦ «КИНОМИР» - кафе<br>
					РЦ «Шторм» ул. Беляева 69 – кафе 
				</p>
			</li>
			<li>
				<h4 class="bold">Цены:</h4>
				<p>Первое занятие бесплатно. Последующие в среднем по 500 ₽.</p>
			</li>
			<li>
				<h4 class="bold">Трезвость:</h4>
				<p>Преподаватели не пьют и не курят</p>
			</li>
			<li>
				<h4 class="bold">Ведущий:</h4>
				<p>
					Мастер кулинарии международного класса, Виталий Христофорович.<br>
					Подробнее о нём на его странице https://vk.com/bebebe
				</p>
			</li>
		</ul>
	</section>

	<form>
		<md-input-container class="form-item">
			<input mdInput placeholder="Имя, Фамилия">
		</md-input-container>
		<md-input-container class="form-item">
			<input mdInput placeholder="Сотовый телефон">
		</md-input-container>
		<md-input-container class="form-item">
			<input mdInput placeholder="Электронная почта">
		</md-input-container>
		<md-input-container class="form-item form-item-commentary">
			<input mdInput placeholder="Пожелания, комментарии">
		</md-input-container>
		<button routerLink='/details/reservation/reservationsuccess' md-raised-button color="primary" class="button-enroll">ЗАПИСАТЬСЯ</button>
		<p>С вами свяжутся организаторы и зададут дополнительные вопросы, если нужно. </p>
	</form>
</div>
