header
    background: url("img/mosaic-bg.svg") no-repeat center
    background-size: cover
    height: 112.5px
.home-header
	height: 340px
[class^="main-nav__link"]
    margin-top: 50px
    color: #fff
    float: left
    text-decoration: underline
    margin-right: 40px
    &:hover
        text-decoration: none
.main-nav__link-enter
    float: right
    margin-right: 10px

.main-nav__link-logo
    width: 100px
    cursor: pointer
    float: left
    margin: 7px 45px 0 0
    outline: none
    user-drag: none
    user-select: none
    -moz-user-select: none	
    -webkit-user-drag: none
    -webkit-user-select: none
    -ms-user-select: none
.header-text
    position: relative
    clear: both
    text-align: center
    top: 193px
    color: #fff
    font-size: 40px
    cursor: default
.home-logo
    width: 220px
    position: absolute
    left: 50%
    margin: 30px 0 0 -110px
.home-logo
	cursor: default

.content
    min-height: calc(100vh - 124px)

footer
	background-color: #3E2B24
	height: 124px
	color: #fff
	line-height: 22px
	cursor: default
.footer-content
	position: relative
	top: 28px
.od-logo
	margin-right: 20px
	width: 87px
	float: left
	user-drag: none
	user-select: none
	-moz-user-select: none	
	-webkit-user-drag: none
	-webkit-user-select: none
	-ms-user-select: none
.text-project
	margin-right: 9%
	float: left
.center-logo
	position: absolute
	width: 382px
	left: 50%
	margin-left: -191px
	.boomstarter-logo
		display: inline-block
		width: 151px
		margin-right: 20px
		user-drag: none
		user-select: none
		-moz-user-select: none	
		-webkit-user-drag: none
		-webkit-user-select: none
		-ms-user-select: none
	.text-money
		display: inline-block
.text-mail
	float: right
	cursor: pointer
	position: relative
	
	&:before
		position: absolute
		top: -4px
		left: -40px
		content: ''
		display: block
		width: 30px
		height: 30px
		background-image: url("img/mail.svg")
	&:hover
		text-decoration: underline

.admin
	position: absolute
	right: 0

/deep/ .mat-select-placeholder
    font-size: 20px
/deep/ .mat-select
	position: relative
	top: 2px
/deep/ .mat-select-value
    font-size: 20px
