header
    background-color: #3E2B24
    height: 7rem
    .container
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
a
    margin-right: 3%
    color: #fff
    white-space: nowrap
    &:nth-child(6)
        margin-left: auto
    &:last-child
        margin-right: 0
span
    margin-right: 3%
    position: relative
p
    position: absolute
    right: -0.6rem
    top: -0.4rem
    font-size: 0.75rem
    font-weight: 500
    color: #FBB6C0
    cursor: default
.logo
    background-color: white
    background-image: url(../assets/img/logo-opaque.svg)
    background-size: 116%
    width: 5.5rem
    height: 5.5rem
    background-position: 40% 30%
    margin-right: 2.8125rem
    outline: none
    transition: 0.4s ease
    &:hover
        transform: scale(1.04)
