<header>
<ul class="main-nav container">
    <li><img routerLink='' src="img/logo.svg" alt="" class="main-nav__link-logo"></li>
    <li><a routerLink='main' class="main-nav__link">Хобби</a></li>
    <li><a routerLink='organizers' class="main-nav__link">Организаторы</a></li>
    <li><a routerLink='users' class="main-nav__link">Пользователи</a></li>
    <li><a routerLink='reviews' class="main-nav__link">Отзывы на проверку</a></li>
    <li><a href="javascript:void(0);" class="main-nav__link-enter">var@33kita.ru</a></li>
    <div class="activities-count">{{activitiesCount}}</div>
</ul>
</header>

<router-outlet></router-outlet>
