header
    background-color: #3E2B24
    height: 112.5px
[class^="main-nav__link"]
    margin-top: 50px
    color: #fff
    float: left
    text-decoration: underline
    margin-right: 40px
    &:hover
        text-decoration: none
.main-nav__link-enter
    float: right
    margin-right: 40px
.main-nav__link-exit
    float: right
.activities-count
    font-size: 12px
    font-weight: 500
    color: #FBB6C0
    position: absolute
    top: 44px
    left: 193px
.main-nav__link-logo
    width: 100px
    cursor: pointer
    float: left
    margin: 7px 45px 0 0
    outline: none
    user-drag: none
    user-select: none

.button-to-top
    position: fixed
    right: 50px
    bottom: 50px
    z-index: 2
    &:before
        content: ''
        display: block
        position: relative
        top: 17px
        left: 21px
        width: 3px
        height: 20px
        background-color: white
        transform: rotate(45deg)
    &:after
        content: ''
        display: block
        position: relative
        top: -3px
        left: 33px
        width: 3px
        height: 20px
        background-color: white
        transform: rotate(-45deg)
