header
    background-color: #3E2B24
    height: 7rem
a
    margin-top: 3rem
    color: #fff
    float: left
    text-decoration: underline
    margin-right: 2.5rem
    &:hover
        text-decoration: none
.enter
    float: right
    margin-right: 2.5rem
.exit
    float: right
    margin-right: 0
p
    font-size: 0.75rem
    font-weight: 500
    color: #FBB6C0
    position: absolute
    top: 2.75rem
    left: 12.0625rem
.logo
    width: 6.25rem
    cursor: pointer
    float: left
    margin: 0.4375rem 2.8125rem 0 0
    outline: none
