footer
	height: 124px

	background-color: #3E2B24
	color: #fff
	line-height: 22px
	cursor: default
.container
	display: flex
	justify-content: space-between
	top: 28px
.od-wrapper
	width: 410px
	img
		margin-right: 20px
		width: 87px
	p
		display: inline-block

.boomstarter
	margin-left: -160px
	img
		width: 151px
		margin-right: 20px
	p
		display: inline-block

.mail
	cursor: pointer
	position: relative
	&:before
		position: absolute
		top: -4px
		left: -40px
		content: ''
		width: 30px
		height: 30px
		background-image: url("img/mail.svg")
	&:hover
		text-decoration: underline
