@import "reset.css"
$yellow: #fdd400
$peach: #fad663

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&subset=cyrillic-ext')

html
	font-size: 16px
body
	font-family:  Roboto, Arial, sans-serif
	font-weight: 400
.container
	width: 95%
	position: relative
	max-width: 1568px
	margin: 0 auto