form
    font-size: 20px
.form-item-cities
    width: 208px
[class^="form-item"]
    width: 208px
    margin: 0 70px 50px 0

.reviews
    margin-bottom: 200px
.review
    padding: 20px
    background-color: rgba(121,85,72,.12)
    width: 760px
    position: relative
    margin-bottom: 21.5px
a
    text-decoration: underline
    cursor: pointer
.review-text
    display: block
    width: 480px
    margin: 15px 0 20px

.buttons
    font-size: 14px
    position: absolute
    right: 15px
    top: 15px
    [class^="button-"]
        text-decoration: none
        display: inline-block
        height: 40px
        line-height: 40px
        width: 120px
        text-align: center
        transition: .2s
        &:hover
            background-color: rgba(121,85,72,.3)
    .button-reject
        color: red
        margin-left: -4px
    .text-accept
        color: #4CAF50
        font-size: 17px
        text-align: center
        margin-top: 11px
        width: 240px
    .text-reject
        color: #F44336
        font-size: 17px
        text-align: center
        margin-top: 11px
        width: 240px
.search-spinner
    margin: 50px 0 0 349px
.no-results
    font-size: 24px
