form
    font-size: 1.25rem
h1
    margin-bottom: 3.125rem
.form-item-cities
    width: 13rem
[class^="form-item"]
    width: 13rem
    margin: 2.5rem 2.1875rem 0 0
.form-item-name
    width: 54.375rem
    display: block
.form-item-email
    width: 13rem
.form-item-phone
    width: 13rem
mh-button
    margin-top: 2.5rem
    display: block
    margin-right: 2rem
    width: 11.25rem
.btn-delete
    position: relative
    bottom: 5.175rem
    left: 13.5rem