form
    font-size: 20px
h1
    margin-bottom: 50px
.form-item-cities
    width: 208px
[class^="form-item"]
    width: 208px
    margin: 40px 70px 0 0
.form-item-name
    width: 870px
    display: block

.button-wrapper
    margin-top: 40px
    width: 176px
    position: relative
    .button-spinner
        position: absolute
        top: 0
        right: -60px
        width: 44px
        height: 44px
    .button-save
        display: block
        width: 176px
        height: 44px
        font-size: 20px
        font-weight: 400
