h1
	margin-bottom: 50px
.form-item-cities
	width: 208px
[class^="form-item"]
	width: 208px
	margin: 40px 70px 0 0
.form-item-name
    width: 870px
    display: block
md-checkbox
	font-size: 20px
input
	font-size: 20px
.button-save
	margin-top: 40px
	display: block
	width: 176px
	height: 44px
	font-size: 20px
	font-weight: 400
