<h1 class="admin-heading container">Пользователи</h1>
<form class="container">
    <md-input-container class="form-item">
        <input (keyup)="updateWord(word)" [(ngModel)]="word" name="word" mdInput placeholder="Поисковое слово">
    </md-input-container>
    <md-select (change)="search()" [(ngModel)]="city" name="city" class="form-item-cities" placeholder="Город" floatPlaceholder="never">
        <md-option *ngFor="let city of cities" [value]="city">{{ city.Name }}</md-option>
    </md-select>
    <md-checkbox (click)="!admin ? search(0, 1) : search(null, null)" [(ngModel)]="admin" name="admin" color="primary">Представители в городах</md-checkbox>
</form>

<section class="container">
    <div class="users">
        <div class="user" *ngFor="let user of users">
            <a [routerLink]="['/admin/users/edit']" [queryParams]="{ email: user.Email }">{{user.Name}}</a>
        </div>
    </div>
    <div *ngIf="checkLength > 98" class="button-wrapper">
        <button (click)="concatPage()" md-raised-button color="primary" class="button-show">Показать ещё</button>
        <md-progress-spinner *ngIf="responding" color="accent" mode="indeterminate" class="button-spinner"></md-progress-spinner>
    </div>
    <h2 class="no-results" *ngIf="loaded && users.length === 0">По вашему запросу ничего не найдено.</h2>
    <md-progress-spinner *ngIf="!loaded" color="accent" mode="indeterminate" class="search-spinner"></md-progress-spinner>
</section>
