<h1 class="admin-heading container">Пользователи</h1>
<form class="container">
    <md-input-container class="form-item">
        <input mdInput placeholder="Email">
    </md-input-container>
    <md-select class="form-item-cities" placeholder="Город" floatPlaceholder="never">
        <md-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</md-option>
    </md-select>
    <md-checkbox color="primary">Представители в городах</md-checkbox>
</form>

<section class="container">
    <div class="users">
        <a href="javascript:void(0);" class="user">var@33kita.ru</a>
        <a href="javascript:void(0);" class="user">surramba@mail.ru</a>
        <a href="javascript:void(0);" class="user">team@yandex-team.ru</a>
    </div>
</section>