<h1 class="admin-heading container">Пользователи</h1>
<form class="container">
    <md-input-container class="form-item">
        <input (focusout)="setArgument(3, word)" [(ngModel)]="word" name="word" mdInput placeholder="Поисковое слово">
    </md-input-container>
    <md-select (change)="setArgument(2, city.Id)" [(ngModel)]="city" name="city" class="form-item-cities" placeholder="Город" floatPlaceholder="never">
        <md-option *ngFor="let city of cities" [value]="city">{{ city.Name }}</md-option>
    </md-select>
    <md-checkbox (click)="!admin ? setArgument(0, 0, 1, 1) : setArgument(0, undefined, 1, undefined)" [(ngModel)]="admin" name="admin" color="primary">Представители в городах</md-checkbox>
</form>

<section class="container">
    <div class="users">
        <div class="user" *ngFor="let user of users">
            <a (click)="saveUserEmail(user.Email)" routerLink='../users/edit'>{{user.Name}}</a>
        </div> 
    </div>
        <button *ngIf="reserveContent.length > 0 && users.length > 98" (click)="concatPage()" md-raised-button color="primary" class="button-show">Показать ещё</button>
</section>
