.hobbies
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.hobby
    position: relative
    margin-bottom: 3.75em
    width: 29.75em
    height: 21.1094em

    background-size: cover
    background-position: 50%

    color: #fff
    cursor: pointer
    overflow: hidden
    outline: none
    &:hover section
        background: rgba(0,0,0,0.36)
section
    transition: 0.4s ease
    background: rgba(0,0,0,0.2)
    width: 100%
    position: absolute
    box-sizing: border-box
.bottom
    bottom: 0
    padding: 0.625em 0.9375em 1.125em
.company
    font-size: 1.0625em
    line-height: 1.375em
    margin-top: 0.3125em
.name
    display: flex
    align-items: center
    height: 3.2em
    font-size: 1.5625em


.age
    font-size: 1.625em
    margin: 1.25em

.voices
    position: absolute
    top: 1.25em
    right: 0.625em
    .thumb-up
        width: 1em
    .amount
        min-width: 2.25em
        text-align: center
        font-size: 1.625em
        display: inline-block
.free-icon
    position: absolute
    bottom: 1.5em
    right: -21em
    width: 1.625em
    height: 1.875em

mh-button
    margin: 1.875em auto

.empty 
    width: 29.75em
    height: 0

.no-results
    font-size: 1.5em

@media (max-width: 1520px)
    .hobbies
        font-size: 0.9rem
@media (max-width: 1400px)
    .hobbies
        font-size: 0.8rem
@media (max-width: 1200px)
    .hobbies
        font-size: 1rem
@media (max-width: 1023px)
    .hobbies
        font-size: 0.85rem
@media (max-width: 850px)
    .hobbies
        font-size: 1rem
    .hobby,
    .empty,
        width: 100%
