.hobbies
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.hobby
    position: relative
    margin-bottom: 3.75rem
    width: 29.75rem
    height: 21.1094rem

    background-size: cover
    background-position: 50%

    color: #fff
    cursor: pointer
    overflow: hidden
    outline: none
    &:hover section
        background: rgba(0,0,0,0.36)
section
    transition: 0.4s ease
    background: rgba(0,0,0,0.2)
    width: 100%
    position: absolute
    box-sizing: border-box
.bottom
    bottom: 0
    padding: 0.625rem 0.9375rem 1.125rem
.company
    font-size: 1.0625rem
    line-height: 1.375rem
    margin-top: 0.3125rem
.name
    display: flex
    align-items: center
    height: 3.2rem
    font-size: 1.5625rem


.age
    font-size: 1.625rem
    margin: 1.25rem

.voices
    position: absolute
    top: 1.25rem
    right: 0.625rem
    .thumb-up
        width: 1rem
    .amount
        min-width: 2.25rem
        text-align: center
        font-size: 1.625rem
        display: inline-block
.free-icon
    position: absolute
    bottom: 1.5rem
    right: -21rem
    width: 1.625rem
    height: 1.875rem

mh-button
    margin: 1.875rem auto

.empty 
    width: 29.75rem
    height: 0

.no-results
    font-size: 1.5rem
