<div class="hobbies">
    <div [routerLink]="['act', activity.Id]" class="hobby" *ngFor="let activity of activities"
        [ngStyle]="{'background-image': 'url(' +  activity.MainPicture?.Url + ')'}">
        <section class="top">
            <p class="age">От {{activity.AgeFrom}} до {{activity.AgeTo}} лет</p>
            <div class="voices">
                <img src="img/thumbs-up.svg" class="thumb-up">
                <p class="amount">{{activity.Voices}}</p>
            </div>
        </section>
        <section class="bottom">
            <h6 class="name">{{activity.Name}}</h6>
            <p class="company">{{activity.Organizer.Name}}</p>
            <img class="free-icon" src="img/free.svg" *ngIf="activity.Free && !responding">
        </section>
    </div>
    <span class="empty"></span> 
    <span class="empty"></span> 
</div>
<h2 class="no-results" *ngIf="!loading && activities.length === 0">По вашему запросу ничего не найдено.</h2>
<mh-button *ngIf="checkLength > 11" [loading]="responding" (click)="concatPage()">Показать ещё</mh-button>
