<div class="content">
	<header [ngClass]="{'home-header': home.isActive}">
		<div class="container">
			<button md-fab class="logo"
				routerLink="" routerLinkActive #home="routerLinkActive" [routerLinkActiveOptions]="{exact: true}"></button>
			<a routerLink="/about" class="about">О проекте</a>
			<a routerLink="/sponsor">Стать спонсором</a>
			<a routerLink="/member">Стать представителем</a>
			<a routerLink="/enter" *ngIf="!userEmail" class="enter">Вход</a>
			<a (click)="exit()" *ngIf="userEmail" class="enter">Выход</a>
			<a routerLink="user" *ngIf="userEmail" class="enter">{{userEmail}}</a>
			<h1>Находим хобби по вкусу и возрасту</h1>
		</div>
	</header>
	<mh-progress></mh-progress>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>

<mh-footer></mh-footer>