.main
    width: 40.625rem
    height: 28.75rem
    background-size: cover
    background-position: 50%
.secondary
    display: flex
    justify-content: space-between
    margin-top: 1rem
    div
        width: 12.875rem
        height: 8.5625rem
        background-size: cover
        background-position: 50%
.show
    z-index: 999
    position: fixed
    top: 25%
    left: 25%
    background-size: cover
    background-position: 50%
    width: 50%
    height: 50%