form
    font-size: 1.25rem
.form-item-course-name
    display: block
    width: 40.625rem
    margin-bottom: 1.375rem

.form-right
    width: 31.375rem
    height: 40.625rem
    display: inline-block
    position: absolute
    top: 9.125rem
    left: 50rem
    [class^='form-item']
        margin-bottom: 1.25rem
    .form-item-organizer
        width: 15.5rem
        margin-right: 2.5rem
    .form-item-cities
        width: 13rem
    [class^='form-item-age']
        width: 6.5625rem
        margin-right: 2.0625rem
    .form-item-age-to
        margin-right: 2.5rem
    .form-item-interests
        width: 13rem
    .form-item-phones,
    .form-item-address,
    .form-item-price
        width: 31.1875rem
    .form-item-free-checkbox
        font-size: 1.25rem

.form-bottom
    .form-item-sobriety-checkbox
        font-size: 1.25rem
        line-height: 1.6875rem
    .form-item-description
        width: 66.875rem
        display: block	
    .form-item-guides
        width: 66.875rem
        display: block
    mh-button
        margin: 3.125rem 0
        width: 12.5rem
        display: block
.images
    width: 40.625rem
.secondary-images
    display: flex
    justify-content: space-between
    margin-top: 0.875rem
    mh-upload
        width: 12.875rem
        height: 8.50rem  