<form [formGroup]="form" (ngSubmit)="submit()">
    <a (click)="back()" class="mh-back">&larr; Назад</a>
    <md-input-container class="form-item-course-name">
        <input mdInput placeholder="Название курса" [formControl]="form.controls['name']">
    </md-input-container>

    <div class="images">
        <mh-upload [url]="pics[0]?.url" (success)="addImage($event, 0)" (remove)="removeImage(0)" main="true"></mh-upload>
        <div class="secondary-images">
            <mh-upload [url]="pics[1]?.url" (success)="addImage($event, 1)" (remove)="removeImage(1)" class="secondary"></mh-upload>
            <mh-upload [url]="pics[2]?.url" (success)="addImage($event, 2)" (remove)="removeImage(2)" class="secondary"></mh-upload>
            <mh-upload [url]="pics[3]?.url" (success)="addImage($event, 3)" (remove)="removeImage(3)" class="secondary"></mh-upload>
        </div>
    </div>

    <div class='form-right'>
        <md-input-container class="form-item-organizer">
            <input (ngModelChange)="filterOrganizers($event)" (focus)="filterOrganizers(form.get('organizerName').value)" id="organizerInput"
                mdInput placeholder="Организатор" [mdAutocomplete]="org" [formControl]="form.controls['organizerName']">
        </md-input-container>
        <md-autocomplete #org="mdAutocomplete">
            <md-option (click)="setOrganizer(organizer.Id)" *ngFor="let organizer of organizers" [value]="organizer.Name">
                {{organizer.Name}}
            </md-option>
        </md-autocomplete>
        <md-select class="form-item-interests" placeholder="Город" [formControl]="form.controls['cityId']" [mdTooltip]="isOrganizerChosen ? 'Организатор уже выбран' : ''">
            <md-option *ngFor="let city of cities" [value]="city.Id">{{ city.Name }}</md-option>
        </md-select>
        <md-input-container class="form-item-age-from">
            <input mdInput placeholder="Возраст От" myOnlyNumber maxlength="3" [formControl]="form.controls['ageFrom']">
        </md-input-container>
        <md-input-container class="form-item-age-to">
            <input mdInput placeholder="До" myOnlyNumber maxlength="3" [formControl]="form.controls['ageTo']">
        </md-input-container>
        <md-select class="form-item-interests" placeholder="Интересы" [formControl]="form.controls['interestId']">
            <md-option *ngFor="let interest of interests" [value]="interest.Id">{{ interest.Name }}</md-option>
        </md-select>
        <md-input-container class="form-item-phones">
            <textarea mdInput rows="3" placeholder="Телефоны" [formControl]="form.controls['phones']"></textarea>
        </md-input-container>
        <md-input-container class="form-item-address">
            <textarea mdInput rows="3" placeholder="Адрес" [formControl]="form.controls['address']"></textarea>
        </md-input-container>
        <md-input-container class="form-item-price">
            <textarea mdInput rows="3" placeholder="Цены" [formControl]="form.controls['prices']"></textarea>
        </md-input-container>
        <md-checkbox color="primary" class="form-item-free-checkbox" [formControl]="form.controls['free']">Бесплатно</md-checkbox>
    </div>

    <div class='form-bottom'>
        <md-input-container class="form-item-description">
            <textarea mdInput rows="10" placeholder="Подробное описание" [formControl]="form.controls['description']"></textarea>
        </md-input-container>
        <md-input-container class="form-item-guides">
            <textarea mdInput rows="3" placeholder="Ведущие" [formControl]="form.controls['mentor']"></textarea>
        </md-input-container>
        <md-checkbox color="primary" class="form-item-sobriety-checkbox" [formControl]="form.controls['sobriety']" [mdTooltip]="isOrganizerChosen ? 'Организатор уже выбран' : ''">Преподаватели не пьют и не курят</md-checkbox>
        <mh-button [disabled]="form.invalid || !pics[0]?.url" [loading]="responding">ОПУБЛИКОВАТЬ</mh-button>
    </div>
</form>