<header>
<ul class="main-nav container">
	<li><a href="javascript:void(0);" class="main-nav__link">О проекте</a></li>
	<li><a href="javascript:void(0);" class="main-nav__link">Стать спонсором</a></li>
	<li><a href="javascript:void(0);" class="main-nav__link">Стать представителем</a></li>
	<li><a routerLink='enter' class="main-nav__link-enter">Вход</a></li>
</ul>
<img routerLink='' src="img/logo.svg" alt="" class="header-logo">
<h1 class="header-text">Находим хобби по вкусу и возрасту</h1>
</header>

<section class="hobbies container">
	<form class="hobbies-form">
		<md-input-container class="hobbies-search">
			<input mdInput placeholder="Поисковое слово">
		</md-input-container>
		
		<md-input-container class="hobbies-age">
			<input mdInput placeholder="Возраст">
		</md-input-container>
		
		<md-select class="hobbies-interests" placeholder="Интересы" floatPlaceholder="never">
			<md-option *ngFor="let interest of interests" [value]="interest.name">{{ interest.name }}</md-option>
		</md-select>

		<md-select class="hobbies-cities" placeholder="Город" floatPlaceholder="never">
			<md-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</md-option>
		</md-select>
		
		<md-checkbox color="primary" class="hobbies-soberness">Трезвость</md-checkbox>
		<md-checkbox color="primary">Бесплатно</md-checkbox>
			<a class="hobbies-add" routerLink='addhobby' md-fab></a>
	</form>


<div class="hobbies-flex">
	<div routerLink='details' class="hobby-wrapper" *ngFor="let activity of activities">
		<img src="" alt="" class="hobby-image">
		<div class="hobby-top-descr">
			<p class="hobby-age">От {{activity.AgeFrom}} до {{activity.AgeTo}} лет</p>
			<p class="hobby-likes">2201</p>
		</div>
		<div class="hobby-bottom-descr">
			<h6 class="hobby-name">{{activity.Name}}</h6>
			<p class="hobby-company">{{activity.Organizer.Name}}</p>
			<img class="hobby-free-icon" src="img/free.svg" alt="" *ngIf="!activity.Prices">
		</div>
	</div>		
</div>
</section>
