<header>
<ul class="main-nav container">
    <li><a href="javascript:void(0);" class="main-nav__link">О проекте</a></li>
    <li><a href="javascript:void(0);" class="main-nav__link">Стать спонсором</a></li>
    <li><a href="javascript:void(0);" class="main-nav__link">Стать представителем</a></li>
    <li *ngIf="!userEmail"><a routerLink='enter' class="main-nav__link-enter">Вход</a></li>
    <li *ngIf="userEmail"><a href="javascript:void(0);" class="main-nav__link-enter">{{userEmail}}</a></li>
</ul>
<img routerLink='' src="img/logo.svg" alt="" class="header-logo">
<h1 class="header-text">Находим хобби по вкусу и возрасту</h1>
</header>

<section class="hobbies container">
    <form class="hobbies-form">
        <md-input-container class="hobbies-search">
            <input (focusout)="setArgument(0, word)" [(ngModel)]="word" name="word" mdInput placeholder="Поисковое слово">
        </md-input-container>
        
        <md-input-container class="hobbies-age">
            <input (focusout)="setArgument(1, age)" [(ngModel)]="age" name="age" mdInput placeholder="Возраст" type="text" myOnlyNumber maxlength="3">
        </md-input-container>
        
        <md-select (change)="setArgument(2, interest.Id)" [(ngModel)]="interest" name="interest" class="hobbies-interests" placeholder="Интересы" floatPlaceholder="never">
            <md-option *ngFor="let interest of interests" [value]="interest">{{ interest.Name }}</md-option>
        </md-select>

        <md-select (change)="setArgument(3, city.Id)" [(ngModel)]="city" name="word" class="hobbies-cities" placeholder="Город" floatPlaceholder="never">
            <md-option *ngFor="let city of cities" [value]="city" >{{ city.Name }}</md-option>
        </md-select>
        
        <md-checkbox (click)="setArgument(4, !IsSober)" [(ngModel)]="IsSober" name="sober" color="primary" class="hobbies-soberness">Трезвость</md-checkbox>
        <md-checkbox (click)="setArgument(5, !IsFree)" [(ngModel)]="IsFree" name="free" color="primary" >Бесплатно</md-checkbox>
            <a class="hobbies-add" routerLink='/addhobby' md-fab></a>
    </form>


    <div class="hobbies-flex">
        <div routerLink='details' (click)="saveActivityId(activity.Id)" class="hobby-wrapper" *ngFor="let activity of activities">
            <div class="hobby-image-wrapper">
                <img [src]="activity.MainPicture?.Url" alt="" class="hobby-image">
            </div>
            <div class="hobby-top-descr">
                <p class="hobby-age">От {{activity.AgeFrom}} до {{activity.AgeTo}} лет</p>
                <p class="hobby-likes">{{activity.Voices}}</p>
            </div>
            <div class="hobby-bottom-descr">
                <h6 class="hobby-name">{{activity.Name}}</h6>
                <p class="hobby-company">{{activity.Organizer.Name}}</p>
                <img class="hobby-free-icon" src="img/free.svg" alt="" *ngIf="activity.Free">
            </div>
        </div>		
    </div>
</section>
