<my-header></my-header>
	<div class="container">
		<section class="gallery">
			<a routerLink='' class="button-back">&larr; Поиск</a>
			<ul class="heading-list">
				<li class="heading-item-heading">
					<h1>Курсы кулинарного искусства</h1>
				</li>
				<li class="heading-item-thumb-up">
						<img src="img/thumbs-up-black.svg" alt="">
				</li>
				<li class="heading-item-amount">
					<p>2201</p>
				</li>
				<li class="heading-item-thumb-down">
					<img src="img/thumbs-up-black.svg" alt="">
				</li>
			</ul>
		</section>
		<section class="info">
			<ul class="info-list">
				<li>
					<h4 class="bold">Организатор:</h4>
					<p>ООО «Go Vegan», Череповец</p>
				</li>
				<li>
					<h4 class="bold">Возраст:</h4>
					<p>от 5 до 55 лет</p>
				</li>
				<li>
					<h4 class="bold">Телефоны:</h4>
					<p>
						РЦ «ИЗУМРУД» — +7-909-999-9999<br>
						РЦ «КИНОМИР» — +75335663366<br>
						РЦ «Шторм» — 553366
					</p>
				</li>
				<li>
					<h4 class="bold">Адрес:</h4>
					<p>
						РЦ «ИЗУМРУД» ул. Раахе, 4 - кафе<br>
						РЦ «КИНОМИР» - кафе<br>
						РЦ «Шторм» ул. Беляева 69 – кафе 
					</p>
				</li>
				<li>
					<h4 class="bold">Цены:</h4>
					<p>Первое занятие бесплатно. Последующие в среднем по 500 ₽.</p>
				</li>
				<li>
					<h4 class="bold">Трезвость:</h4>
					<p>Преподаватели не пьют и не курят</p>
				</li>
				<li>
					<h4 class="bold">Ведущий:</h4>
					<p>
						Мастер кулинарии международного класса, Виталий Христофорович.<br>
						Подробнее о нём на его странице https://vk.com/bebebe
					</p>
				</li>
			</ul>
			<button routerLink='/details/reservation' md-raised-button color="accent" class="button-enroll">ЗАПИСАТЬСЯ</button>
		</section>
		<p class="description">
			Хочешь вкусно поесть? Чтобы было красиво подано, как в ресторане?
			Научитесь готовить сами! Оформлять блюда, сервировать стол!
			Побалуйте себя и близких! Праздничный стол – легко!

			Базовые общие программы по кулинарии:
			- «Один дома» - для детей 8-12 лет 
			- «Кухня» - для подростков 12-16 лет
			- «Молодежка» - для молодежи с 16 лет и взрослых


			Дополнительные программы - выпечка, торты, «хлебопекарь», холодные закуски, горячие блюда, традиционные блюда русской кухни, 
			а также кухни народов мира - японская – суши, роллы…, итальянская – пицца, паста…, блюда мексиканской, корейской кухни, 2-х и 3-х 
			часовые мастер-классы - десерты – желе, коктейли, нарезки, праздничные бутерброды, новогодний стол – 2017, обед в лаваше, 
			карвинг – резка овощей и др.

			Мы приглашаем принять участие в наших клубных мероприятиях, детских и мероприятиях для взрослых – кулинарных шоу, конкурсах, 
			«вкусных» вечеринках, поездках, караоке и др.

			Клубные мероприятия проводятся в кафе и ресторанах нашего города.
		</p>
	</div>
	