.gallery
    width: 650px
    height: 850px
    .main-wrapper
        position: absolute
        top: 174px
        right: 0
        bottom: 0
        left: 0
        z-index: -1
        overflow: hidden
        width: 650px
        height: 460px
        .main-picture
            position: absolute
            top: 50%
            left: 50%

            width: auto
            height: auto
            max-height: 900px
            max-width: 900px

            min-height: 100%
            min-width: 100%

            transform: translate(-50%, -50%)
    .other-pictures
        position: relative
        top: 520px
        [class^="wrapper"]
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            overflow: hidden
            width: 206px
            height: 137px
            .other-picture
                position: absolute
                top: 50%
                left: 50%

                width: auto
                height: auto
                max-height: 260px
                max-width: 260px

                min-height: 100%
                min-width: 100%

                transform: translate(-50%, -50%)
        .wrapper-2
            left: 222px
        .wrapper-3
            left: 444px
.image-spinner
    margin: 200px auto 0
.heading
    position: relative
    .voicing
        position: absolute
        right: 0
        top: 4px
        .thumb-up
        .thumb-down
            transform: rotate(180deg)
        [class^='thumb']
            width: 27px
            cursor: pointer
            display: inline-block
        .amount
            width: 14px
            font-size: 26px
            margin: 0 5px
            display: inline-block
        .voted
            font-size: 14px
            color: red
            position: absolute
            width: 160px
            right: -176px
            top: 3px
    h1
        font-size: 35px
        width: 520px


.info
    margin-top: 150px
    width: 656px
    position: absolute
    right: 0
    top: 0
    .bold
        font-weight: 900
        line-height: 32px
        font-size: 17px
    p
        line-height: 22px
        font-size: 17px
.prices
    display: inline-block
    position: relative
    p
        display: inline-block
    .hobby-free-icon
        position: absolute
        top: -5px
        right: -35px
        width: 26px
        height: 30px
.info-list
    li
        margin-bottom: 30px
        p
            display: block
            min-height: 22px
.button-enroll
    margin-top: 15px
    width: 176px
    height: 44px
    font-size: 20px
    font-weight: 400
.button-edit
    width: 202px
    display: inline-block
.button-approve-wrapper
    display: inline-block
    width: 202px
    position: relative
    top: -1px
    margin-left: 20px
    .button-approve
        width: 202px
    .button-spinner
        position: absolute
        top: 14px
        right: -60px
        width: 46px

.description
    width: 1100px
    margin: 80px 0

.reviews
    width: 1000px
    margin-bottom: 80px
    position: relative
    .reviews-heading
        font-size: 35px
        margin-bottom: 33px
.reviews-item
    margin-bottom: 20px
    height: auto
    min-height: 99px
    width: 1000px
    .image
        position: absolute
        left: 0
        background-color: #aaa
        width: 80px
        height: 80px
        border-radius: 50%
    p
        display: inline-block
    .name
        color: #000
        font-weight: 600
        margin: 0 18px 15px 110px
        font-size: 17px
    .date
        font-size: 13px
    .content
        margin-left: 110px
        line-height: 22px
        display: block
md-input-container
    width: 890px
    margin: 70px 0 0 110px
    display: block

.button-wrapper
    margin-left: 110px
    width: 133px
    position: relative
    .button-spinner
        position: absolute
        top: 0
        right: -50px
        width: 34px
        height: 34px
    .button-publish
        width: 133px
        height: 34px
        font-size: 15px
        font-weight: 500

.publish-success
    color: #4CAF50
    font-size: 17px
    line-height: 34px
    margin-left: 110px