<my-header></my-header>
	<div class="container">
		<section class="gallery">
			<a routerLink='' class="button-back">&larr; Поиск</a>
			<div class="heading">
				<h1>{{activity.Name}}</h1>

				<div class="voicing">
					<div (click)="votePositive()" class="thumb-up">
							<img src="img/thumbs-up-black.svg" alt="">
					</div>
						<p class="amount">{{activity.Voices}}</p>

					<div (click)="voteNegative()" class="thumb-down">
						<img src="img/thumbs-up-black.svg" alt="">
					</div>
				</div>
			</div>
		</section>
		<section class="info">
			<ul class="info-list">
				<li>
					<h4 class="bold">Организатор:</h4>
					<p>{{organizer}}</p>
				</li>
				<li>
					<h4 class="bold">Возраст:</h4>
					<p>от {{activity.AgeFrom}} до {{activity.AgeTo}} лет</p>
				</li>
				<li>
					<h4 class="bold">Телефоны:</h4>
					<p>
						{{activity.Phones}}
					</p>
				</li>
				<li>
					<h4 class="bold">Адрес:</h4>
					<p>
						{{activity.Address}}
					</p>
				</li>
				<li>
					<h4 class="bold">Цены:</h4>
					<p>{{activity.Prices}}</p>
				</li>
				<li>
					<h4 class="bold">Трезвость:</h4>
					<p>Преподаватели не пьют и не курят</p>
				</li>
				<li>
					<h4 class="bold">Ведущий:</h4>
					<p>{{activity.Mentor}}</p>
				</li>
			</ul>
			<button routerLink='/details/reservation' md-raised-button color="accent" class="button-enroll">ЗАПИСАТЬСЯ</button>
		</section>
		<p class="description">
			{{activity.Description}}
		</p>
	</div>
	