<my-header></my-header>

    <div class="container">
        <section class="gallery">
            <a routerLink='' class="button-back">&larr; Поиск</a>
            <div class="heading">
                <h1>{{activity.Name}}</h1>

                <div class="voicing">
                    <div (click)="votePositive()" class="thumb-up">
                            <img src="img/thumbs-up-black.svg" alt="">
                    </div>
                        <p class="amount">{{voteAmount}}</p>

                    <div (click)="voteNegative()" class="thumb-down">
                        <img src="img/thumbs-up-black.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="main-wrapper"> 
                <img [src]="picUrls[0] ? picUrls[0] : 'img/fallback.jpg'" alt="" class="main-picture">
            </div>
            <div class="other-pictures">
                <div class="wrapper-1">
                    <img [src]="picUrls[1] ? picUrls[1] : 'img/fallback.jpg'" alt="" class="other-picture">
                </div>
                <div class="wrapper-2">
                    <img [src]="picUrls[2] ? picUrls[2] : 'img/fallback.jpg'" alt="" class="other-picture">
                </div>
                <div class="wrapper-3">
                    <img [src]="picUrls[3] ? picUrls[3] : 'img/fallback.jpg'" alt="" class="other-picture">
                </div>
            </div>
           
        </section>
        <section class="info">
            <ul class="info-list">
                <li>
                    <h4 class="bold">Организатор:</h4>
                    <p>{{organizer}}</p>
                </li>
                <li>
                    <h4 class="bold">Возраст:</h4>
                    <p>от {{activity.AgeFrom}} до {{activity.AgeTo}} лет</p>
                </li>
                <li>
                    <h4 class="bold">Телефоны:</h4>
                    <p>
                        {{activity.Phones}}
                    </p>
                </li>
                <li>
                    <h4 class="bold">Адрес:</h4>
                    <p>
                        {{activity.Address}}
                    </p>
                </li>
                <li>
                    <h4 class="bold">Цены:</h4>
                    <div class="prices">
                        <p>{{activity.Prices}}</p>
                        <img class="hobby-free-icon" src="img/free-withborder.svg" alt="" *ngIf="activity.Free">
                    </div>
                    
                </li>
                <li>
                    <h4 class="bold">Трезвость:</h4>
                    <p>{{sobriety ? "Преподаватели не пьют и не курят" : "Отсутствует"}}</p>
                </li>
                <li>
                    <h4 class="bold">Ведущий:</h4>
                    <p>{{activity.Mentor}}</p>
                </li>
            </ul>
            <button routerLink='/details/reservation' md-raised-button color="accent" class="button-enroll">ЗАПИСАТЬСЯ</button>
        </section>
        <p class="description">
            {{activity.Description}}
        </p>
        <section class="reviews">
            <h2 class="reviews-heading">Отзывы</h2>
            <div class="reviews-item" *ngFor="let review of reviews">
                <div class="image">
                </div>
                <p class="name">Олеся</p>
                <p class="date">{{review.DateCreated | myDate}}</p>
                <p class="content">{{review.Text}}</p>
            </div>
            <md-input-container>
                <textarea mdInput placeholder="Ваш отзыв" [(ngModel)]="reviewText"></textarea>
            </md-input-container>
            <button *ngIf="!published" [disabled]="!reviewText" (click)="publishReview()" md-raised-button color="primary" class="button-publish">Опубликовать</button>
            <p *ngIf="published" class="publish-success">Готово! Ваш отзыв будет опубликован после проверки модераторами.</p>
        </section>
    </div>
    