.gallery
    width: 650px
    height: 850px
    .main-wrapper
        position: absolute
        top: 174px
        right: 0
        bottom: 0
        left: 0
        z-index: -1
        overflow: hidden
        width: 650px
        height: 460px
        .main-picture
            position: absolute
            top: 50%
            left: 50%

            width: auto
            height: auto
            max-height: 900px
            max-width: 900px

            min-height: 100%
            min-width: 100%

            transform: translate(-50%, -50%)
    .other-pictures
        position: relative
        top: 520px
        [class^="wrapper"]
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            overflow: hidden
            width: 206px
            height: 137px
            .other-picture
                position: absolute
                top: 50%
                left: 50%

                width: auto
                height: auto
                max-height: 260px
                max-width: 260px

                min-height: 100%
                min-width: 100%

                transform: translate(-50%, -50%)
        .wrapper-2
            left: 222px
        .wrapper-3
            left: 444px
.button-back
    display: inline-block
    margin: 44px 0 33px 0
    width: 86px
    font-size: 20px
    text-decoration: underline
    &:hover
        text-decoration: none
.heading
    position: relative
    .voicing
        position: absolute
        right: 0
        top: 4px
        .thumb-up
        .thumb-down
            transform: rotate(180deg)
        [class^='thumb']
            width: 27px
            cursor: pointer
            display: inline-block
        .amount
            font-size: 26px
            margin: 0 5px
            display: inline-block
    h1
        font-size: 35px
        width: 520px


.info
    margin-top: 150px
    width: 656px
    position: absolute
    right: 0
    top: 0
    .bold
        font-weight: 900
        line-height: 32px
        font-size: 17px
    p
        line-height: 22px
        font-size: 17px
.prices
    display: inline-block
    position: relative
    p
        display: inline-block
    .hobby-free-icon
        position: absolute
        top: -5px
        right: -35px
        width: 26px
        height: 30px
.info-list
    li
        margin-bottom: 30px
.button-enroll
    margin-top: 15px
    width: 176px
    height: 44px
    font-size: 20px
    font-weight: 400

.description
    width: 1100px
    margin: 80px 0
