<footer *ngIf="footerLoaded">
	<div class="footer-content container">
		<img src="img/od.svg" alt="" class="od-logo">
		<p class="text-project">
			Проект создан и поддерживается <br>
			волонтёрами общественной <br>
			организации «Общее дело»</p>
		<div class="center-logo">
			<img src="img/boomstarter.svg" alt="" class="boomstarter-logo">
			<p class="text-money">
				Деньги на разработку <br>
				собираем на boomstarter.ru
			</p>
		</div>
		<a class="text-mail">feedback@mhbb.ru</a>
	</div>
</footer>
