.search
    font-size: 1.25rem
    margin: 3.75rem 0 2.5rem
.word
    width: 10.625rem
.age
    width: 7.5rem
    margin: 0 3%
.interests
    width: 13rem
.cities
    width: 13rem
    margin: 0 3%
.soberness
    margin-right: 3%
.add
    float: right
    position: relative
    transition: 0.4s
    transform: scale(1.3)
    &:before,
    &:after
        content: ""
        position: absolute
        background-color: white
        top: 1rem
        right: 1.625rem
        width: 0.25rem
        height: 1.625rem
    &:after
        transform: rotate(90deg)
    &:hover
        transform: scale(1.4)
